{{ $c := .Site.Params.comment }}
{{ if and $c $c.enable }}
    <div class="article-container">
        <div class="comments">
            {{ if eq $c.provider "twikoo" }}
                <div id="twikoo" class="twikoo-comments" data-provider="twikoo" data-env-id="{{ $c.twikoo.envId }}" data-path="{{ $c.twikoo.path | default "auto" }}"></div>
            {{ else if eq $c.provider "artalk" }}
                <div id="Artalk" data-provider="artalk" data-server="{{ $c.artalk.server }}" data-site="{{ $c.artalk.site }}" data-page-key="{{ .RelPermalink }}" data-page-title="{{ .Title }}"{{ with $c.artalk.akismetKey }} data-akismet-key="{{ . }}"{{ end }}></div>
            {{ end }}
        </div>
    </div>
{{ end }}
